# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo

# ==============================
# Virtual environments
# ==============================
venv/
.env

# ==============================
# Downloaded output files
# ==============================
outputs/
*.sdf

# ==============================
# Logs (if added later)
# ==============================
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
